body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
}

.perfil{
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 10% auto;
    padding: 20px;
    background-color: gray;
    border-radius: 30px;
}

.perfil img {
    width: 300px;
    height: 300px;
    margin-right: 20px;
    border-radius: 30px;
}

.informacoes {
    flex-grow: 1;
}

.informacoes h2 {
    margin-top: 0;
}

.informacoes p {
    margin: 5px 0;
    font-size: 23px;
}

.avaliacoes {
    margin-top: 20px;
}

.avaliacoes h3 {
    margin-bottom: 10px;
}


