body {
   
}

  #foto{
    border: 1px solid;
    height: 300px;
    width: 300px;
    background-image: url(image.jpeg);
    background-position: center;
    background-size: cover;
    

    position: relative;
    top: 50px;
    left: 50px;

    border-style: outset;
    border-color: gold;
    border-width: 5px;
    border-radius: 10px;
  }

  #nome{
    border: 1px solid;
    height: 50px;
    width: 250px;
    background-color: white;
    color: black;
    

    position: absolute;
    top: 75px;
    left: 400px;

    border-style: outset;
    border-color: blue;
    border-width: 5px;
    border-radius: 10px;
  }

  #avaliacao{
    border: 1px solid;
    height: 50px;
    width: 250px;
    background-color: white;
    color: black;

    position: absolute;
    top: 75px;
    left: 700px;

    border-style: outset;
    border-color: blue;
    border-width: 5px;
    border-radius: 10px;
  }

  #numero{
    border: 1px solid;
    height: 50px;
    width: 250px;
    background-color: white;
    color: black;
    
    position: absolute;
    top: 175px;
    left: 400px;

    border-style: outset;
    border-color: blue;
    border-width: 5px;
    border-radius: 10px;
  }

  #email{
    border: 1px solid;
    height: 50px;
    width: 250px;
    background-color: white;
    color: black;
    
    position: absolute;
    top: 175px;
    left: 700px;

    border-color: blue;
    border-width: 5px;
    border-radius: 10px;
  }

  #resumo{
    border: 1px solid;
    height: 500px;
    width: 1000px;
    background-color: white;
    color: black;
    

    position: absolute;
    top: 400px;
    left: 200px;
    
    border-style: outset;
    border-color: blue;
    border-width: 5px;
    border-radius: 10px;
  }

  #espaco{
    border: 1px solid;
    height: 20px;
    width: 1px;
    background-color: white;
    

    position: absolute;
    top: 510px;
  }

    
  
